@charset "utf-8";

a{text-decoration: none;}
a:visited{color:black}
a:hover{color:skyblue}
/* 전체 레이아웃 */
.wrapper{
    width: 100%;
    height: 100vh;
    perspective: 800px;
    /* background-color: #141317; */
}
/* 바 */
.btn_menu{
    /* 위치지정 */
    position: absolute;
    top:30px;
    left:70px;
    /* 크기지정 */
    width: 100px;
    height: 100px;
    cursor: pointer;
    /* z-index: 3; */
    font-size: 40px;
    display: none;
    }
/*왼쪽 메뉴바  */
.menu {
    width: 180px;
    height: 100vh;
    /* z-index: 3; */
    background-color: whitesmoke;
    /* 3d 회전 */
    opacity: 1;
    transform-origin : left center;
    transform:rotateY(15deg);
    transition: 0.7s;
    /* transform:rotateY(120deg); */
    /* transform:rotateY(150deg); */
}
.on{
    transform: rotateY(150deg);
}
.menu>.gnb > ul {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.menu>.gnb > ul > li{
    font-size: 20px;
    margin-bottom: 120px;
}
.menu> .gnb > ul > li > img{
    margin-top: 95px;
    width: 80px;
    height: 80px;
}

/* 컨텐츠 */
.container{
    background-color: blanchedalmond;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: 0.7s;

    /* 3d 회전 */
    transform-origin : right center;
    transform:rotateY(-3deg);
    }
.off{
    transform-origin: right center;
    transform: rotateY(0deg);
}
/* 세부 네비 활성화 */
.container div.item{
    opacity: 1;
}
/* 네비 콘테이너 비활성화 */
.container div{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    display: grid;
    grid-template-columns: repeat(4,1fr);   
    grid-template-rows: repeat(4,1fr);
    gap: 0 0px;
}


.container .KF p:nth-child(1){
    grid-column: 1 / span  2;
}
.container .KF p:nth-child(2){
    background:url(./img/9.jpg);
    background-size: cover;
}
.container .KF p:nth-child(5){
    background:url(./img/Untitled-1.jpg);
    background-size: cover;
}
.container .KF p:nth-child(6){
    background:url(./img/Untitled-2.jpg);
    background-size: cover;
}
.container .KF p:nth-child(7){
    background:url(./img/3.jpg);
    background-size: cover;
}
.container .KF p:nth-child(8){
    background:url(./img/4.jpg);
    background-size: cover;
    /* width: 100%;
    height: 100%; */
}
.container .KF p:nth-child(10){
    background:url(./img/5.jpg);
    background-size: cover;
}
.container .KF p:nth-child(13){
    background:url(./img/7.jpg);
    background-size: cover;
}
.container .KF p:nth-child(14){
    background:url(./img/8.jpg);
    background-size: cover;
}
.container .KF p:nth-child(15){
    background:url(./img/6.jpg);
    background-size: cover;
}



.container .JF p:nth-child(3){
    grid-column: 3 / span  2;
}
.container .JF p:nth-child(5){
    grid-row: 2 / span  2;
    grid-column: 2/3;
}
.container .JF p:nth-child(6){
    grid-row: 2/span 2;
    grid-column: 3/4;
}



.container .CF p:nth-child(5){
    grid-column: 1 / span  2;
    grid-row: 2/span 3;
}
.container .CF p:nth-child(6){
    grid-column: 3/5;
}
