*{
    margin: 0;
    padding: 0;
}
/* #wrap{
    width: 100vw;
    height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
} */
body{
    background:url("U1Cp4Hm.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.con{
    
}
#view-clock{
    font-size: 100px;
}
#view-user > input{
    /* width: 100px; */
    width: 20vw;
    height: 5vh;

}
#view-user > input >text{
    font-size: 500%;
}
