@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Noto Serif KR', serif;
}
/* .header{
    margin-right: 12px;
} */
.header{
    overflow: hidden;
}

.logo{
    display: flex;
    justify-content: space-between;
    margin: auto 0;
}
.logo a{
    background:linear-gradient(to right,#fa1ea8,#5072f7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    font-weight:30px;
}

.logo button{
    display: block;
    border: none;
    background:none;
    opacity: 0.5;
    cursor: pointer;
    font-size: 30px;
    outline: none;
}
.menu{
    display: none;
}

/* 헤더끝 */
/* 배너 */

.banner{
    background-image: url('../images/aaaa.jpg');
    background-position: center;
    background-size: cover;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner h1{
    font-size: 12vw;
    letter-spacing: 0.15em;
    background:linear-gradient(to right,#5072f7,#fa1ea8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 15px;
}
.banner p{
    font-size: 4vw;
    letter-spacing: 0.2em;
    background:linear-gradient(to right,#5072f7,#fa1ea8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* 배너끝 */
/* 워크 */

.work{
    width: 70%;
    margin: 0 auto;
}
.work .ul>li>div{
    
    border-radius: 50%;
    background:linear-gradient(to right,#5072f7,#fa1ea8);
    color: white;
    width: 5em;
    margin: 30px auto;
    height: 5em;
    text-align: center;
    line-height: 5em; 
}

.work .ul>li>h3{
    text-align: center;
    font-size: 130%;
}
.work .ul>li>p{
    width: 80%;
    margin: 10px auto;
    text-align: center;
}



/* 워크끝 */
/* 포트폴리오 */

.portfolio{
    margin: 0  auto;
    background-color: #f0f0f0;
}

.portfolio .P{
    font-size: 80px;
    margin: 50px  auto;
    padding-top: 50px;
    text-align: center;
    background: linear-gradient(to right bottom,#fa1ea8 30%,#5072f7 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.portfolio .last{
    font-size: 20px;
    margin: 15px auto;
    text-align: center;
    background: linear-gradient(to right bottom,#fa1ea8 30%,#5072f7 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container{
    width: 70%;
    margin: 0 auto;
    text-align: center;

    display: flex;
    flex-direction: column;
}
.container img{
    width: 280px;   
    margin: 20px 0;
}




/* 포트폴리오 끝 */

/* 콘텐츠 */

.sub_title{
    font-size: 80px;
    margin: 50px auto;
    text-align: center;
    background: linear-gradient(to right bottom,#fa1ea8 30%,#5072f7 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact .text p{
    text-align: center;
    font-size: 18px;
}

.contact ul{
    display:  flex;
    justify-content: center;
    margin-top: 40px;
}
.contact .icon{
    background-color: #8558df;
    color: white;

    font-size: 30px;
    border-radius: 50%;

    width: 1.5em;
    height: 1.5em;
    text-align: center;
    line-height: 1.5em;
}
/*  */
/*  */
/* 콘텐츠 끝 */
/*  */
/*  */
/* 푸터 */
.footer{
    height: 50px;
    background-color: #535353;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
}
.footer p{
    color: #929292;
}

/* 푸터 끝 */



/* 모바일 사이즈 */
@media all and (min-width:320px) {

    .contact .text{
        font-size: 13px;
    }
    .contact .icon{
        margin: 0 5px;
    }
    .contact .text  {
        display: none;
    }


    
    
}
/* 테블릿사이즈 */
@media all and (min-width:768px){

    .header{
        display: flex;
        justify-content: space-between;
        /* margin: 0 auto; */
        overflow: hidden;
    }
    .logo button{
        display: none;
    }
    .logo a{
        font-size: 30px;
        padding-top: 10px ;
    }
    .menu a{
        display: block;
        color: black;
        padding: 30px 20px 20px 20px;
        font-weight: bolder;
        font-size: 20px;
    }
    .menu{
        display: block !important   ;
    }
    .menu ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .banner h1{
        font-size: 100px;
    }
    .banner p{
        font-size: 30px;
        
    }
   
    .work .ul{
        width: 90%;
        display: flex;
    }

    .container{
        width: 70%;
        height: 1100px;
        margin: 0 auto;
        text-align: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .contact .text  {
        display: block;
    }


}
/* pc 사이즈 */
@media all and (min-width:1024px){
    .header{
        width: 1004px;
        margin: 0 auto;
        overflow: hidden;
    }
    header .logo{
        height: 80px;
    }
  
    .logo a{
        padding-top: 25px;
    }
    .menu {
        display: block !important;
    }
    .container{
        width: 1004px;
        height: 700px;
        margin: 0  auto;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .contact ul{
        margin: 100px ;
    }


}

/* .lavbox >label{
    display: inline-block;
    width: 20px;
    height: 10px;
    background-color: black;
}
input[id="lav1"]:checked ~ .lavbox>label[for="lav1"]{
    background-color:  red;
    border-radius: 3px;
}
input[id="lav2"]:checked ~ .lavbox>label[for="lav2"]{
    background-color:  red;
    border-radius: 3px;
}
input[id="lav3"]:checked ~ .lavbox>label[for="lav3"]{
    background-color:  red;
    border-radius: 3px;
}


.modal{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    left: 0;
}
.close{
    color: white;
    font-size: 50px;
    position: absolute;
    right: 50px;
    top: 50px;
} */
