*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.clearfix::before, .clearfix::after{display: block ; content: '';clear: both;}
/* 초기화 */

#wrap{
    width: 1200px;
    margin: 0 auto;
}
/* 레이아웃 */
#header{
    background: #555;
}

#header .logo{
    float: left;
    width: 250px;
    height: 100px;
    line-height: 100px;
    background: #888;
}
#header .nav{
    float: right;
    width: 600px;
    margin-top: 55px;
    background: #777;
}
#header .nav ul{
    
}

#header .nav li{
    float: left;
    width: 25%;
    /* text-align: center; */
    position: relative;
    bottom: 0;
}
#header .nav li a{
    display: block;
    padding: 10px;
    font-size: 20px;
    color: #fff;
}
#header .nav li a:hover{
    background: rgba(0, 0, 0,0.4);

}
#header .nav li ul.submenu {
    /* display: none; */
    position: absolute;
    left: 0;
    top: 45px;
    background: #555;
    height: 176px;
}
#header .nav li ul.submenu li{
    width: 100%;
    padding: 10px;
}
/* 헤더 */

#banner{
    height: 300px;
    background: #666;
}
/* 베너 */

#contents > div{
    width: 400px;
    height: 200px;
    float: left;
}
#contents > .cont1{
    background: #555;
}
#contents > .cont2{
    background: #444;
}
#contents > .cont3{
    background: #333;
}
/* 콘텐츠 */

#footer div{
    float: left;
    height: 100px;
}
#footer .foot1{
    width: 200px;
    background: #222;
}
#footer .foot2{
    width: 800px;
    background: #333;
}
#footer .foot3{
    width: 200px;    
    background: #444;
}
/* 푸터 */